/.vscode
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Library
/Logs
/My project.slnx
/Snake.slnx
/Temp
/URPWizard.csproj
/UserSettings
/Assets/Deepwave
/My project/Deepwave.Core.Editor.csproj
/Deepwave.Core.Runtime.csproj
/Deepwave.ICR.Editor.csproj
/Deepwave.ICR.Runtime.csproj.sln
Deepwave.Core.Editor.csproj
Deepwave.ICR.Runtime.csproj
